@import "../../variables.scss";


.control{


	right:0px;
	top:0px;
	



	.descripcion{

		background:#06d6b4;
		padding: 7em;
		padding-top: 3em;
		text-align: center;

	}
	.fechas{

	background:#ff9b3b;
	padding: 7em;
	}

	.imagen{

		background:#ff6f6f;

		.woman{

		fill: #B584F9;
		vertical-align: middle;
		width: 450px;
		padding: 5em;
		margin-left: 70px;
	
	}



		
	}

}




