<app-navcole></app-navcole>

<br>
<br>
<br>




<div class='container'>

<h4>


Listado de Alumnos</h4>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Apellidos y Nombres</th>
				<th>Año</th>
				<th>Nivel</th>
				<th>Grado</th>
				<th>Nivel Educativo</th>
				<th>Promedio</th>

				 
			</tr>
		</thead>
		<tbody>
			

			<tr *ngFor="let data of alumnos "

				(click)="gotoDetail(data)" >
				<td>
				<img src='assets/learning.png' class='img-responsive' width="30px"></td>

				<td>{{data.user__first_name}}</td>
				<td>{{data.anio__nombre}}</td>
				<td>{{data.grado__nombre}}</td>
				<td>{{data.seccion__nombre}}</td>
				<td>{{data.niveleducativo__nombre}}</td>
				<td>{{data.promedio}}</td>
				<td><a class='btn btn-primary btn-sm'>Detalle</a></td>

			</tr>

		</tbody>
	</table>
</div>






