<app-navcole></app-navcole>

<br><br><br>

<div class='container'>{{alumno | json}}


{{name}}
<h3>Informacion Detallada</h3>

<form action="" method="POST" role="form">
	<legend>{{alumno}}</legend>

	<div class="form-group">
		<label for="">label</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
	</div>

	<div class="form-group">
		<label for="">label</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
	</div>

	<div class="form-group">
		<label for="">label</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
	</div>

		<div class="form-group">
		<label for="">label</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
	</div>


	

	<button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>